<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">ガイドライン</div>
      <div class="panel-body">
        <p>
          サーバーに参加する前にガイドラインを確認して下さい。<br>
        </p>
        <a href="{{site.play.url}}" class="btn btn-lg btn-outline">
          <i class="glyphicon glyphicon-file"></i>
          ガイドライン
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">コミュニティフォーラム</div>
      <div class="panel-body">
        <p>質問がある場合はコミュニティフォーラムをご利用下さい。</p>
        <a href="{{site.play.forum.url}}" class="btn btn-lg btn-outline">コミュニティフォーラム</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">サーバーアドレス</div>
      <div class="panel-body">
          <a href="https://minecraft.jp/servers/mcplay.biz"><img src="https://minecraft.jp/servers/mcplay.biz/banner/4/560x95.png"/></a>
      </div>
    </div>
  </div>
</div>
