<table id="stable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">コマンド</th>
      <th class="th-sm">エイリアス</th>
      <th class="th-sm">説明</th>
      <th class="th-sm">構文</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>afk</td>
      <td>なし</td>
      <td>AFK状態になる。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>balance</td>
      <td>bal, money</td>
      <td>所持金を確認する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>balancetop</td>
      <td>baltop</td>
      <td>所持金ランキングを表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>compass</td>
      <td>direction</td>
      <td>向いている方向を確認する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>getpos</td>
      <td>なし</td>
      <td>自分の場所を確認する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>ignore</td>
      <td>なし</td>
      <td>[プレイヤー名]を無視リストに追加/削除する。</td>
      <td>/{コマンド} [プレイヤー名]</td>
    </tr>
    <tr>
      <td>itemdb</td>
      <td>なし</td>
      <td>手に持っているアイテムの情報を表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>pay</td>
      <td>なし</td>
      <td>[プレイヤー名]に[金額]を送金する。</td>
      <td>/{コマンド} [プレイヤー名] [金額]</td>
    </tr>
    <tr>
      <td>payconfirmtoggle</td>
      <td>payconfirm</td>
      <td>送金の確認を求めるか切り替える。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>paytoggle</td>
      <td>payon</td>
      <td>支払いを受け入れるか切り替える。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>warp</td>
      <td>なし</td>
      <td>ワールドへテレポートする。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>worth</td>
      <td>price</td>
      <td>[アイテム名]、[アイテムID]の価格を確認する。handを指定した場合手に持ったアイテム、inventoryを指定した場合インベントリ内の売却可能アイテムの価格を確認する。</td>
      <td>/{コマンド} {[アイテム名]|[アイテムID]|hand|inventory} [-][量]</td>
    </tr>
    <tr>
      <td>spawn</td>
      <td>s</td>
      <td>ホームワールドのスポーン地点に移動する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>seen</td>
      <td>なし</td>
      <td>プレイヤーの最終ログアウト情報を表示する。</td>
      <td>/{コマンド} [プレイヤー名]</td>
    </tr>
    <tr>
      <td>sell</td>
      <td>なし</td>
      <td>[アイテム名]、[アイテムID]のアイテムを売却する。handを指定した場合手に持ったアイテム、inventoryを指定した場合インベントリ内の売却可能アイテムを売却する。</td>
      <td>/{コマンド} {[アイテム名]|[アイテムID]|hand|inventory} [-][量]</td>
    </tr>
    <tr>
      <td>rtp</td>
      <td>なし</td>
      <td>現在のワールドのランダムな場所へてレポートする。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>tpa</td>
      <td>tpask</td>
      <td>[プレイヤー名]にてレポートの要求をする。</td>
      <td>/{コマンド} [プレイヤー名]</td>
    </tr>
    <tr>
      <td>tpaccept</td>
      <td>なし</td>
      <td>テレポートの要求を受け入れる。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>tpdeny</td>
      <td>なし</td>
      <td>テレポートの要求を拒否する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>home</td>
      <td>なし</td>
      <td>[ホーム名]へテレポートする。</td>
      <td>/{コマンド} [ホーム名]</td>
    </tr>
    <tr>
      <td>sethome</td>
      <td>なし</td>
      <td>ホームを[ホーム名]で設定する。[ホーム名]が設定されていない場合、自動的にhomeになります。</td>
      <td>/{コマンド} [ホーム名]</td>
    </tr>
    <tr>
      <td>delhome</td>
      <td>なし</td>
      <td>[ホーム名]を削除する。</td>
      <td>/{コマンド} [ホーム名]</td>
    </tr>
    <tr>
      <td>morefish shop</td>
      <td>mf shop, fish shop</td>
      <td>釣りコンテストで釣った魚を売却する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>accesstrust</td>
      <td>なし</td>
      <td>[ユーザー名]にボタン、レバー、ベッドの操作権限を与えます。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>containertrust</td>
      <td>なし</td>
      <td>[ユーザー名]にボタン、レバー、ベッド、作業台、かまど、チェスト、動物を使う権限を与えます。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>permissiontrust</td>
      <td>trust</td>
      <td>[ユーザー名]に土地の権限を編集する権限を与えます。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>untrust</td>
      <td>なし</td>
      <td>[ユーザー名]の権限を削除する。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>trustlist</td>
      <td>なし</td>
      <td>土地の権限を持っている人を表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>claimslist</td>
      <td>なし</td>
      <td>保護している土地を表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>subdivideclaims</td>
      <td>なし</td>
      <td>細分化モードに切り替える。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>basicclaims</td>
      <td>なし</td>
      <td>基本モードに切り替える。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>abandonclaim</td>
      <td>なし</td>
      <td>保護を削除する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>abandonallclaims</td>
      <td>なし</td>
      <td>保護を全て削除する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>givepet</td>
      <td>なし</td>
      <td>[ユーザー名]に自分の飼い慣らしたMobを渡す。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>trapped</td>
      <td>なし</td>
      <td>保護範囲から脱出する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>qs buy</td>
      <td>なし</td>
      <td>ショップモードを買取に切り替えます。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>qs sell</td>
      <td>なし</td>
      <td>ショップモードを販売に切り替えます。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>qs price</td>
      <td>なし</td>
      <td>ショップの取引価格を変更します。</td>
      <td>/{コマンド} [価格]</td>
    </tr>
    <tr>
      <td>qs find [アイテム名]</td>
      <td>なし</td>
      <td>[アイテム名]を販売しているショップを探します。</td>
      <td>/{コマンド} [アイテム名]</td>
    </tr>
    <tr>
      <td>/qs staff add</td>
      <td>なし</td>
      <td>ショップのスタッフに[ユーザー名]を追加する。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>/qs staff del</td>
      <td>なし</td>
      <td>ショップのスタッフから[ユーザー名]を削除する。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>/qs staff clear</td>
      <td>なし</td>
      <td>ショップのスタッフを全て削除する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>/qs staff list</td>
      <td>なし</td>
      <td>ショップのスタッフ一覧を表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>/mcstats</td>
      <td>なし</td>
      <td>自分のスキル統計とスキルのXPを表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>/mctop</td>
      <td>なし</td>
      <td>パワーレベルのランキングを表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>/inspect</td>
      <td>なし</td>
      <td>[ユーザー名]のスキル情報を表示する。近くにいる必要があります。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>/[スキル名]</td>
      <td>なし</td>
      <td>[スキル名]の情報を表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>/party</td>
      <td>なし</td>
      <td>パーティー情報を表示する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>/party create</td>
      <td>なし</td>
      <td>パーティーを作成する。</td>
      <td>/{コマンド} [パーティー名] [パスワード]</td>
    </tr>
    <tr>
      <td>/party join</td>
      <td>なし</td>
      <td>[ユーザー名]のパーティーに参加する。</td>
      <td>/{コマンド} [ユーザー名] [パスワード]</td>
    </tr>
    <tr>
      <td>/party invite</td>
      <td>なし</td>
      <td>パーティーに招待する。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>/party accept</td>
      <td>なし</td>
      <td>[ユーザー名]からのパーティー招待を許諾する。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>/party password</td>
      <td>なし</td>
      <td>パーティーのパスワードを変更する。</td>
      <td>/{コマンド} [パスワード]</td>
    </tr>
    <tr>
      <td>/party kick [ユーザー名]</td>
      <td>なし</td>
      <td>[ユーザー名]をパーティーからキックする。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>/party owner</td>
      <td>なし</td>
      <td>[ユーザー名]をパーティーオーナーにする。</td>
      <td>/{コマンド} [ユーザー名]</td>
    </tr>
    <tr>
      <td>/party q</td>
      <td>なし</td>
      <td>現在参加しているパーティーから離脱する。</td>
      <td>/{コマンド}</td>
    </tr>
    <tr>
      <td>/partychat</td>
      <td>なし</td>
      <td>パーティーメンバーにメッセージを送信する。</td>
      <td>/{コマンド} [メッセージ]</td>
    </tr>
  </tbody>
</table>